*.bak
*.log
*.pptx
*.docx
*.pdf
LLMCore/pretrained/embedding/*
LLMCore/pretrained/models/*
LLMCore/logs/*
Docker/Weaviate/data/*
.cache
__pycache__
device.env

# Plume ------------------
assets/plume/*
docs/plume/*