*.bak
*.log
*.pptx
*.docx
*.pdf
LLMCore/pretrained/embeddings/*
LLMCore/pretrained/models/*
LLMCore/logs/*
Docker/Weaviate/data/*
.cache
.vscode
__pycache__
device.env
!.gitkeep

# Plume ------------------
assets/plume/*
docs/plume/*
Helm
